Project 1 - Facebook Clone/node_modules/
Project 2 - Microsoft Clone/node_modules/
Project 1 - Facebook Clone/.history/
Project 2 - Microsoft Clone/.history/
Project 1 - Facebook Clone/*.json
Project 2 - Microsoft Clone/*.json